/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}


body iframe {
    margin-top: 20px;
    margin-left: 30%;
    width: 80%;
    height: 100vh;
    border:none;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 20vh;
	background-color: #fff159;
    background-size: cover;
    background-position: center;
    position: relative;
}

.weatherCalculator {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3b4077; 
}

.weatherCalculator__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 300;
}

.day_result {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.submit {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.submit_container {
    margin: 0 auto;
    text-align: center;
}

.result {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.result_container {
    margin: 0 auto;
    text-align: center;
}

.map {
   width: 100%; 
}

#iframe {
    width: 100%;

}

#iframe object{
    width: 100%;

}

.submit_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.submit_btn:active { transform: translateY(2px); }

.submit_btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 1000px;
    margin: 60px auto;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}